
language: java
jdk:
  - oraclejdk9

install:
  - ./gradlew clean jar

script:
  - ./gradlew test

after_success:
  - ./gradlew jacocoTestReport
  - COVERAGE=0.35 ./gradlew test jacocoTestCoverageVerification
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

deploy:
  provider: script
  script: echo "WIP"
  on:
    all_branches: true
